<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/2d353964a9.js" crossorigin="anonymous"></script>
    <link rel="icon" sizes="any" href="/img/icon.png">
    <title>Registro de Usuario</title>
</head>
<body>
    <header class="home__header">
        <div class="home__header--top">    
            <img class="home__header--img" src="/img/logo-mercado-liebre.svg" alt="logo">
                <div class="home__header--busqueda">
                    <form action="">
                        <input type="search" placeholder="Buscar productos, marcas">
                                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                
            <h3 class="home__header--tarjeta">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </h3> 
        </div>
            
    <div class="home__header--buttom">
        <nav>
            <ul class="home__header__navbar">
                <li><a class="home__header__navbar--link" href="">Ofertas</a></li>
                <li><a class="home__header__navbar--link" href="">Tiendas Oficiales</a></li>
                <li><a class="home__header__navbar--link" href="">Vender</a></li>
                <li><a class="home__header__navbar--link" href="">Ayuda</a></li>
            </ul>
        </nav>

        <nav>
            <ul class="home__header__navbar__user">
                <li><a class="home__header__navbar--link" href="">Creá tu cuenta  <i class="fa-regular fa-id-card"></i></a></li>
                <li><a class="home__header__navbar--link" href="">Ingresá  <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a class="home__header__navbar--link" href="">Mis compras  <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </div>

            <div class="home__header__menu"> 
                <button class="home__header__menu--hamburger">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>

            <section class="home__header--banner">
                <img src="/img/img-home-banner.jpg" alt="No se encontro Banner">
            </section>

                </header>

        <main class="register__main">
         
            <h1 class="register__main--titulo">Registro de Usuario</h1>
            <form action="/" method="get" class="register__main_form">

                <div> 
                    <input type="text" name="nombre" id="nombre" placeholder= "Nombre y Apellido">
                </div>

                <div> 
                    <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuari@">
                </div> 

                <div>
                    <input type="email" name="email" id="email" placeholder="E-mail">
                </div>
                
                <label for="fecha">Fecha de nacimiento</label>
                <div>
                    <input type="date" name="fecha" id="fecha">
                </div>

                <div> 
                    <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
                </div>

                <label for="perfil">Perfil del usuario</label>
                <div>
                    <label><input type="radio" name="perfil" id="perfil" value="Comprador">  Comprador</label>
                    <label><input type="radio" name="perfil" id="perfil" value="Vendedor"> Vendedor</label>
                </div>
                
                <label for="interes">Categorías de interés (puede elegir más de una)</label>
                <div>
                    <label><input type="checkbox" name="interes" id="interes" value="Electro"> Electro</label>
                </div>
                <div>
                    <label><input type="checkbox" name="interes" id="interes" value="Moda"> Moda</label>
                </div>
                <div>
                    <label><input type="checkbox" name="interes" id="interes" value="Hogar"> Hogar</label>
                </div>
                <div>
                    <label><input type="checkbox" name="interes" id="interes" value="Juguerería"> Juguetería</label>
                </div>
                <div>
                    <label><input type="checkbox" name="interes" id="interes" value="Vida sana"> Vida sana</label>
                </div>

                <label for="avatar">Foto de usuario</label>
                <div>
                <input type="file" name="avatar" id="avatar" accept=".JPG">
                </div>
                
                <div> 
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                </div>

                <div> 
                    <input type="password" name="confirme" id="confirme" placeholder="Confirmar contraseña">
                </div>

                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
    </form>



        </main>
</body>
</html>