.home__footer
            {
                background-color: var(--colorGrisclaro);
            }
.home__footer__section
            {
                padding: 45px;
                text-align: center;
                background-color: white;
                margin: 0 10px;
            }
.home__footer--img
            {
                color: var(--colorCeleste);
                font-size: 35px;
            }
.home__footer--descripcion
            {
                font-size: 16px;
            }
.home__footer--cuerpotexto
            {
                font-size: 12px;
            }
.home__footer__section__copy
            {
                background-color: white;
                margin: 0 10px;
            }
.home__footer__section__copy--final
            {
                font-size: 12px;
                color: var(--colorGrisoscuro);
                padding-left: 25px;
                padding-bottom: 20px;
            }